{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
  <p>Elifin Öküzü is an open source etymological dictionary prepared by
    Python-Django class at Mustafa Akgül Free Software Summer Camp. The
    project bases on mapping the words at Sevan Nişanyan's "Elif's Ok or The
    Surprises Book". If you can give clear resources, you can add words too.</p>

  <a href="http://www.nisanyansozluk.com/" id="sozluk"><h1>Elif's Ox or The Surprises Book</h1></a>
  <p>There are more than 1000 explanations of what some words meant and how they
    sounded 600 or 2,000 years ago at Nişanyan's book. It is full of surprises.
    The words we use has an unbeliveable history. The history of Turkish language
    is about 1300 years but the words we use today has a history of thousands years.
    We run across some of the words at Homeros's sources or some others at Zarathustra
    religion. For example we think that the word "sex" come from America but it
    takes us to Rome before it was an empire.
  </p>
  <a href="https://kamp.linux.org.tr/" id="oyk"><h1>Mustafa Akgül Free Software Summer
      Camp</h1></a>
  <p>The camp at first named "Lınux Summer Camp" and starts at 2010 with 1 class,
    35 students and lasts 9 days. Today at 2018; it is a "Free Software Camp" with
    20+ classes, 15+ different subjects, 500+ participants, 70+ instructors and
    lasts 15 days. It was named "Mustafa Akgül Free Software Summer Camp." at
    the honor of Mustafa Akgül after his death. </p>
  <p>The participants don't need to pay any money except travel, food and
    accomodation expenses. Quotas are limited.</p>

  <a href="https://www.fsf.org/" id="fsf"><p><h1>Free Software Philosopy</h1></p></a>
  <p> Free software is software that gives the user the freedom to share,
    study and modify it. We call this free software because the user is free.
    To use free software is to make a political and ethical choice asserting the
    right to learn, and share what we learn with others. Free software has become
    the foundation of a learning society where we share our knowledge in a way
    that others can build upon and enjoy.</p><p> Currently, many people use proprietary
    software that denies users these freedoms and benefits. If we make a copy
    and give it to a friend, if we try to figure out how the program works,
    if we put a copy on more than one of our own computers in our own home,
    we could be caught and fined or put in jail. That’s what’s in the fine print
    of the license agreement you accept when using proprietary software.</p><p>
    The corporations behind proprietary software will often spy on your activities
    and restrict you from sharing with others. And because our computers control
    much of our personal information and daily activities, proprietary software
    represents an unacceptable danger to a free society.</p>

  <a href="http://blog.akgul.web.tr/" id="akgul"><p><h1>Mustafa Akgül</h1></p></a>
  <p>Mustafa Akgül was a Turkish computer scientist who was the key figure of the
    acceptance of the Internet in Turkey. He went to the University of Waterloo,
    Canada and got his PhD in Combinatorics and Optimisation. He started with
    the motto of "Internet is life". </p>
  <p>He gave start to a free software community at 1990's and worked
    for extending it until his death at 2017. At 1993 he opened linux@bilkent.edu.tr
    mail address to start a communication channel between free software developers
    and at 1995 he brought together these people at 1. Turkey Internet Conference.
    At this conference; people come together and started a community named Turkey
    Linux Users Community and made their first speech about free software again
    at that organization.</p>
  <p>It was Mustafa Akgül's dream to organize a Linux Summer Camp and he made it
    real at 2010. And from now on the camp's name will be Mustafa Akgül Free Software
    Summer Camp. </p>

{% endblock %}
