{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ node.name }}{% endblock %}
{% block content %}
  <h1>{{ node.name }}</h1>
  {% if incoming %}
    <h1>Incoming</h1>
    {% for edge in incoming %}
      {{ edge }}
    {% endfor %}
  {% endif %}
  {% if outgoing %}
    <h1>Outgoing</h1>
    {% for edge in outgoing %}
    {{ edge }}
    {% endfor %}
  {% endif %}
<hr><a href="{% url 'add_comment_to_node' node.id %}"><h1>Add comment</h1></a>
{% for comment in node.comments.all %}
    <div>
        <h4><strong>{{ comment.user }}:</strong></h4>
        <p>{{ comment.text }}</p>
        <h5>{{ comment.created_date|date:"d M, Y" }}</h5>
    </div>
<hr>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

{% endblock %}
